.nav-tabs {
  /*margin-bottom: 30px;*/
}
.login{
  margin-bottom: 0px;
}
.well{
  height: 45px;
  margin: 15px;
}
.sidewell {
  height: auto;
  display: inline-block;
  width: 15%;
}
.left{
  float: left;
}
.right {
  float: right;
}
.bfont{
  font-size: 25px;
}
.blue{
  color: blue;
}
.headwellp{
  background-color:#d8c1f4;
}
.headwellg{
  background-color: #95d8be;
}
.headwellb{
  background-color: #adc7dd;
}
h4{
  margin: 0px;
}
#wikilogo{
  width: 90%;
}
.sidewell{
  display: inline-block;
}
.sidewell ul{
  list-style-type: none;
}
#searchwell{
  margin-top: 0px;
  height: 5px;
  width: 125px;
  color: grey;
  background-color: white;
  padding: 0px;
}
#center{
  text-align: center;
}
#welcomewell{
  border: 1px solid grey;
  height: 100px;
}
#topwell{
  border: 3px solid skyblue;
  height: 100px;
}
#grn{
  border: 1px solid #95d8be;
  background-color: #e3f7ef;
}
#blue{
  border: 1px solid #adc7dd;
  background-color: #e5f0f9;
}
#purple{
  border: 1px solid #d8c1f4;
  background-color: #f3edf9;
}
#wedding{
  display:block;
  margin: 0px auto;
}
